@model QLTBCNTT.Models.PhongBan

@{
    ViewData["Title"] = "Thêm Phòng Ban";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="TenPhongban"></label>
        <input asp-for="TenPhongban" class="form-control" />
        <span asp-validation-for="TenPhongban" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</form>
