@model QLTBCNTT.Models.PhieuNhap

<h2 class="text-center my-4">Chi tiết Phiếu Nhập</h2>
<div class="card p-4 shadow">
    <dl class="row">
        <dt class="col-sm-3">Ngày nhập:</dt>
        <dd class="col-sm-9">@Model.NgayNhap.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-3">Người nhận:</dt>
        <dd class="col-sm-9">@Model.NguoiNhanNavigation?.HoTen</dd>

        <dt class="col-sm-3">Nhà cung cấp:</dt>
        <dd class="col-sm-9">@Model.MaNccNavigation?.TenNcc</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</div>